* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
li,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: red;
}
.logo {
  width: 250px;
  height: 40px;
}
.flex {
  display: flex ;
}
.hjz {
  width: 1000px;
  margin: 0px auto;
  justify-content: space-between;
}
header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #1c4982;
}
header img {
  margin-top: 10px;
}
nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #698bcb;
  position: relative;
}
nav div {
  width: 1000px;
  margin: 0px auto;
  text-align: center;
}
nav div a {
  color: #fff;
  width: 200px;
  font-size: 16px;
  padding: 0 15px ;
  border-right: 1px solid #fff;
}
nav div a:nth-of-type(10) {
  border: none;
}
.lt {
  width: 60px;
  height: 3px;
  background-color: #1e90ff;
  display: inline-block;
  position: absolute;
  top: 26px;
  right: 0px ;
}
.gengduo {
  font-size: 10px;
  color: #666;
  margin-left: 160px;
}
.gengduo2 {
  font-size: 10px;
  color: #666;
  margin-left: 600px;
}
main {
  width: 1000px;
  margin: 0px auto;
}
main .bn {
  width: 1000px;
  margin: 0px auto;
  height: 200px;
  margin-bottom: 30px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
main .bn #ul1 {
  width: 6000px;
  position: absolute;
  left: 0;
}
main .bn #ul1 li {
  float: right;
}
main .bn .left {
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  opacity: 0.5;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #5c5a5a;
  transition: 0.2s;
  cursor: pointer;
}
main .bn .right {
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  opacity: 0.5;
  border-radius: 5px 0 0 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #5c5a5a;
  transition: 0.2s;
  cursor: pointer;
}
main .bn .left:hover {
  opacity: 1;
}
main .bn .right:hover {
  opacity: 1;
}
main .bn #ul2 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
main .bn #ul2 li {
  width: 35px;
  height: 4px;
  background-color: #fff;
  opacity: 0.5;
  float: left;
  margin: 0 10px;
  transition: 0.2s;
  cursor: pointer;
}
main .bn #ul2 > li:hover {
  opacity: 1;
}
main .box_div2 {
  padding-left: 5px;
}
main .box_div2 img {
  width: 250px;
  height: 140px;
  margin-top: 5px;
}
main .box_div2 dl:nth-of-type(1) {
  width: 250px;
}
main .box_div2 dl:nth-of-type(2) {
  width: 250px;
}
main .box_div2 dl:nth-of-type(2) dd {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #666;
  position: relative;
  padding-left: 5px ;
  border-bottom: 1px dashed #ccc;
}
main .box_div2 dl:nth-of-type(2) .tshij {
  position: absolute;
  font-size: 10px;
  top: 15px;
  left: 25px;
}
main .box_div2 dl:nth-of-type(2) .biao {
  width: 10px;
  height: 10px;
  background: url(素材/时间.jpg) no-repeat 0px 0px;
  background-size: 80%;
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 15px;
}
main dt {
  color: #1e90ff;
  height: 30px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
main .youce {
  margin-left: 30px;
}
main .youce dl {
  width: 705px;
}
main .youce .xiaoyou dd {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
  position: relative;
  padding-left: 20px;
  border-bottom: 1px dashed #ccc;
}
main .riqi {
  color: #999;
  font-size: 10px;
  margin-left: 400px;
}
main .riqi2 {
  color: #999;
  font-size: 10px;
  margin-left: 265px;
}
main .youjiantou {
  width: 20px;
  height: 20px;
  background: url(素材/右箭头.jpg) no-repeat 0px 0px;
  background-size: 60%;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 5px;
}
main .shidian dd {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
  position: relative;
  padding-left: 20px;
  border-bottom: 1px dashed #ccc;
}
main .fengcai img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  margin: 5px 10px 0px 10px;
}
.selectmg {
  margin-left: 300px;
}
.wechatmg {
  margin-left: 100px;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #1c4982;
  font-size: 10px;
  color: #fff;
}
footer .foter {
  width: 1000px;
  margin: 0px auto;
}
footer .logobuttom {
  width: 50px;
  height: 50px;
  background: url(素材/logo.png) no-repeat 0px 0px;
  background-size: 550%;
  margin-top: 20px;
}
footer ul,
footer dl {
  margin-top: 10px;
}
footer ul li {
  height: 20px;
}
footer dl > dd {
  text-align: center;
}
footer dl > dd img {
  width: 50px;
  height: 50px;
}
footer select {
  width: 200px;
  height: 25px;
  border-radius: 0px;
  margin-top: 10px;
}
